<?xml version="1.0"?>
<config>

    <modules>
        <Zip_Payment>
            <version>1.2.0</version>
        </Zip_Payment>
    </modules>

    <global>
        <models>
            <zip_payment>
                <class>Zip_Payment_Model</class>
                <resourceModel>pay_mysql4</resourceModel>
            </zip_payment>
        </models>
        <resources>
            <zip_payment_setup>
                <setup>
                    <module>Zip_Payment</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </zip_payment_setup>
            <zip_payment_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </zip_payment_write>
            <zip_payment_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </zip_payment_read>
        </resources>
        <blocks>
            <zip_payment>
                <class>Zip_Payment_Block</class>
            </zip_payment>
        </blocks>
        <helpers>
            <zip_payment>
                <class>Zip_Payment_Helper</class>
            </zip_payment>
        </helpers>
    </global>

     <frontend>
        <routers>
            <zip_payment>
                <use>standard</use>
                <args>
                    <module>Zip_Payment</module>
                    <frontName>zip_payment</frontName>
                </args>
            </zip_payment>
        </routers>
        <layout>
            <updates>
                <zip_payment>
                    <file>zip/payment.xml</file>
                </zip_payment>
            </updates>
        </layout>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>zip_payment.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
    </frontend>

    <adminhtml>
        <events>
            <controller_action_predispatch_adminhtml>
                <observers>
                    <zip_payment_notification>
                        <class>zip_payment/adminhtml_observer</class>
                        <method>checkNotifications</method>
                    </zip_payment_notification>
                </observers>
            </controller_action_predispatch_adminhtml>
            <adminhtml_init_system_config>
                <observers>
                    <zip_payment_system_config_load>
                        <class>zip_payment/adminhtml_observer</class>
                        <method>loadConfig</method>
                    </zip_payment_system_config_load>
                </observers>
            </adminhtml_init_system_config>
        </events>
    </adminhtml>


    <default>
        <payment>
            <zip_payment>
                <active>0</active>
                <title>Zip - Own it now, pay later</title>
                <logo>https://zip.co/assets/zip/logos/zip/primary.svg</logo>
                <model>zip_payment/payment</model>
                <environment>sandbox</environment>
                <payment_mode>capture</payment_mode>
                <minimum_total>1</minimum_total>
                <admin_notification>
                    <enabled>1</enabled>
                    <feed_url>https://s3-ap-southeast-2.amazonaws.com/zip-labs-assets/defaults/zip_payment.json</feed_url>
                </admin_notification>
                <checkout>
                    <sort_order>3</sort_order>
                    <js_lib>//static.zipmoney.com.au/checkout/checkout-v1.min.js</js_lib>
                </checkout>
                <country_currency>
                    <allowspecific>1</allowspecific>
                    <specificcountry>AU</specificcountry>
                    <allowed_currencies>AUD</allowed_currencies>
                    <supported_countries>AU</supported_countries>
                    <supported_currencies>AUD</supported_currencies>
                </country_currency>
                <debug>
                    <enabled>0</enabled>
                    <log>6</log>
                </debug>
                <widgets>
                    <enabled>1</enabled>
                    <js_lib>//static.zipmoney.com.au/lib/js/zm-widget-js/dist/zip-widget.min.js</js_lib>
                    <home_page>
                        <banner>1</banner>
                    </home_page>
                    <product_page>
                        <banner>0</banner>
                        <tagline>1</tagline>
                        <widget>0</widget>
                    </product_page>
                    <category_page>
                        <banner>1</banner>
                    </category_page>
                    <cart_page>
                        <banner>0</banner>
                        <tagline>1</tagline>
                        <widget>0</widget>
                    </cart_page>
                    <checkout_page>
                        <widget>1</widget>
                    </checkout_page>
                </widgets>
            </zip_payment>
        </payment>
    </default>

</config>
