<?xml version="1.0"?>
<config>

    <modules>
        <Zip_Payment>
            <version>2.0.0</version>
        </Zip_Payment>
    </modules>

    <global>
        <models>
            <zip_payment>
                <class>Zip_Payment_Model</class>
            </zip_payment>
        </models>
        <blocks>
            <zip_payment>
                <class>Zip_Payment_Block</class>
            </zip_payment>
        </blocks>
        <helpers>
            <zip_payment>
                <class>Zip_Payment_Helper</class>
            </zip_payment>
        </helpers>
        <events>
            <controller_action_predispatch>
                <observers>
                    <zip_payment_controller_predispath>
                        <class>zip_payment/observer</class>
                        <method>processControllerPreDispatch</method>
                    </zip_payment_controller_predispath>
                </observers>
            </controller_action_predispatch>
            <controller_action_postdispatch_checkout_onepage_savepayment>
                <observers>
                    <zip_payment_checkout_onepage_savepayment>
                        <class>zip_payment/observer</class>
                        <method>setResponseAfterSavePayment</method>
                    </zip_payment_checkout_onepage_savepayment>
                </observers>
            </controller_action_postdispatch_checkout_onepage_savepayment> 
        </events>
    </global>

    <frontend>
        <secure_url>
            <zip_payment_checkout>/zip_payment/checkout</zip_payment_checkout>
        </secure_url>
        <routers>
            <zip_payment>
                <use>standard</use>
                <args>
                    <module>Zip_Payment</module>
                    <frontName>zip_payment</frontName>
                </args>
            </zip_payment>
        </routers>
        <layout>
            <updates>
                <zip_payment>
                    <file>zip/payment.xml</file>
                </zip_payment>
            </updates>
        </layout>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>Zip_Payment.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
    </frontend>

    <adminhtml>
        <events>
            <controller_action_predispatch_adminhtml>
                <observers>
                    <zip_payment_notification>
                        <class>zip_payment/adminhtml_observer</class>
                        <method>checkAdminNotifications</method>
                    </zip_payment_notification>
                </observers>
            </controller_action_predispatch_adminhtml>
            <adminhtml_init_system_config>
                <observers>
                    <zip_payment_system_config_load>
                        <class>zip_payment/adminhtml_observer</class>
                        <method>loadConfig</method>
                    </zip_payment_system_config_load>
                </observers>
            </adminhtml_init_system_config>
        </events>
    </adminhtml>

    <default>
        <payment>
            <zipmoneypayment>
                <model>zip_payment/legacyMethod</model>
            </zipmoneypayment>
            <zip_payment>
                <active>0</active>
                <title>Zip - Own it now, pay later</title>
                <model>zip_payment/method</model>
                <environment>sandbox</environment>
                <payment_action>authorize_capture</payment_action>
                <order_status>processing</order_status>
                <display_mode>redirect</display_mode>
                <referred_mode>1</referred_mode>
                <sort_order>1</sort_order>
                <country_currency>
                    <allowspecific>1</allowspecific>
                    <specificcountry>AU</specificcountry>
                    <allowed_currencies>AUD</allowed_currencies>
                </country_currency>
                <pages>
                    <landing_page>1</landing_page>
                </pages>
                <api>
                    <timeout>20</timeout>
                    <tokenisation>0</tokenisation>
                </api>
                <debug>
                    <enabled>1</enabled>
                    <log_level>6</log_level>
                    <log_file>zip_payment.log</log_file>
                </debug>
                <admin_notification>
                    <enabled>1</enabled>
                </admin_notification>
                <widgets>
                    <enabled>1</enabled>
                    <home_page>
                        <banner>1</banner>
                    </home_page>
                    <product_page>
                        <banner>0</banner>
                        <tagline>0</tagline>
                        <widget>1</widget>
                    </product_page>
                    <category_page>
                        <banner>1</banner>
                    </category_page>
                    <cart_page>
                        <banner>0</banner>
                        <tagline>0</tagline>
                        <widget>1</widget>
                    </cart_page>
                    <checkout_page>
                        <widget>1</widget>
                    </checkout_page>
                    <landing_page>
                        <inline>1</inline>
                    </landing_page>
                </widgets>
            </zip_payment>
        </payment>
    </default>

    <custom>
        <payment>
            <zip_payment>
                <logo>http://d3k1w8lx8mqizo.cloudfront.net/INTEGRATIONS/2016/zippay/logos/zipPay-logo-onWhite.png</logo>
                <portal>
                    <sandbox>https://merchant.sandbox.zipmoney.com.au/</sandbox>
                    <production>https://merchant.zipmoney.com.au/</production>
                </portal>
                <checkout>
                    <js_lib>//static.zipmoney.com.au/checkout/checkout-v1.min.js</js_lib>
                    <loader_image>https://s3-ap-southeast-2.amazonaws.com/zip-labs-assets/defaults/ajax-loader.gif</loader_image>
                    <error>
                        <general>Something went wrong. Please try to checkout out again</general>
                    </error>
                    <failure>
                        <heading>Something went wrong. Please try to checkout out again</heading>
                        <content><![CDATA[Please contact the merchant or visit <a href='https://help.zipmoney.com.au/hc/en-us/requests/new' target='_blank'>Zip Help Center</a> for any enquiries]]></content>
                    </failure>
                    <referred>
                        <heading>Order Placed Successfully</heading>
                        <content><![CDATA[<p>Congratulations! You have successfully placed your order, pending approval of your Zip Money application.</p><p>You will recevie an email with instructions shortly on whether your application has been approved or not. If approved you will be able to complete your purchase following the link in the email.</p>]]></content>
                    </referred>
                </checkout>
                <country_currency>
                    <supported_countries>AU</supported_countries>
                    <supported_currencies>AUD</supported_currencies>
                </country_currency>
                <debug>
                    <log_private_data_keys>ACCT,EXPDATE,CVV2,CARDISSUE,CARDSTART,CREDITCARDTYPE,USER,PWD,SIGNATURE</log_private_data_keys>
                </debug>
                <admin_notification>
                    <feed_url>https://s3-ap-southeast-2.amazonaws.com/zip-labs-assets/defaults/zip_payment.json</feed_url>
                </admin_notification>
                <widgets>
                    <js_lib>https://static.zipmoney.com.au/lib/js/zm-widget-js/dist/zip-widget-js.min.js</js_lib>    
                </widgets>
            </zip_payment>
        </payment>
    </custom>

</config>
