<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <payment>
            <groups>
                <zip_payment_group translate="label comment" module="zip_payment">
                    <label><![CDATA[Zip Payment - <i>Own it now, pay later</i>]]></label>
                    <sort_order>600</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <frontend_class>complex</frontend_class>
                    <frontend_model>zip_payment/adminhtml_system_config_fieldset_group</frontend_model>
                    <fields/>
                </zip_payment_group>

                <zip_payment>
                    <standard type="group" translate="label comment">
                        <label><![CDATA[Zip Payment Solution]]></label>
                        <frontend_type>text</frontend_type>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                        <sort_order>50</sort_order>
                        <group>zip_payment_group</group>
                        <include>1</include>
                        <frontend_class>zip-payment</frontend_class>
                        <frontend_model>zip_payment/adminhtml_system_config_fieldset_wizard</frontend_model>
                        <active_path>payment/zip_payment/active</active_path>
                        <logo>https://zip.co/assets/zip/logos/zip/primary.svg</logo>
                        <comment><![CDATA[Zip Payment gives your customers the power to pay later, interest free &nbsp;&nbsp;<a href="https://zip.co/im-a-business" target="_blank">learn more</a><br/>Don't have an account? Click <a href="https://zippay.com.au/partner-sign-up/" target="_blank">here</a> to apply for a <strong>Zip Business Account</strong>]]></comment>
                        <fields>
                            <info type="group" translate="label">
                                <label>Information</label>
                                <frontend_type>text</frontend_type>
                                <expanded>1</expanded>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                                <sort_order>10</sort_order>
                                <frontend_model>zip_payment/adminhtml_system_config_fieldset_expanded</frontend_model>
                                <fields>
                                    <version translate="label">
                                        <label>Version</label>
                                        <frontend_type>label</frontend_type>
                                        <frontend_model>zip_payment/adminhtml_system_config_field_version</frontend_model>
                                        <sort_order>10</sort_order>
                                        <show_in_default>1</show_in_default>
                                        <show_in_website>1</show_in_website>
                                        <show_in_store>1</show_in_store>
                                    </version>
                                    <health_check translate="label">
                                        <label>Health Check</label>
                                        <frontend_type>label</frontend_type>
                                        <frontend_model>zip_payment/adminhtml_system_config_field_healthCheck</frontend_model>
                                        <sort_order>15</sort_order>
                                        <show_in_default>1</show_in_default>
                                        <show_in_website>1</show_in_website>
                                        <show_in_store>1</show_in_store>
                                    </health_check>
                                </fields>
                            </info>
                            <settings type="group" translate="label">
                                <label>Settings</label>
                                <frontend_type>text</frontend_type>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                                <sort_order>20</sort_order>
                                <frontend_model>zip_payment/adminhtml_system_config_fieldset_expanded</frontend_model>
                                <fields>
                                    <active translate="label">
                                        <label>Enabled</label>
                                        <tooltip>Set to 'Yes' to enable Zip Payment as a secure payment method on your website</tooltip>
                                        <config_path>payment/zip_payment/active</config_path>
                                        <frontend_type>select</frontend_type>
                                        <source_model>adminhtml/system_config_source_yesno</source_model>
                                        <sort_order>20</sort_order>
                                        <show_in_default>1</show_in_default>
                                        <show_in_website>1</show_in_website>
                                        <show_in_store>1</show_in_store>
                                    </active>
                                    <title translate="label">
                                        <label>Title</label>
                                        <tooltip>Payment Method Title</tooltip>
                                        <config_path>payment/zip_payment/title</config_path>
                                        <frontend_type>text</frontend_type>
                                        <sort_order>30</sort_order>
                                        <show_in_default>1</show_in_default>
                                        <show_in_website>1</show_in_website>
                                        <show_in_store>0</show_in_store>
                                    </title>
                                    <environment translate="label">
                                        <label>Environment</label>
                                        <tooltip>Set to 'Live' to start accepting zipMoney payments on your website. Ensure your zipMoney ID and zipMoney Key are your 'Live' credentials if not in 'Test' mode</tooltip>
                                        <config_path>payment/zip_payment/environment</config_path>
                                        <frontend_type>select</frontend_type>
                                        <source_model>zip_payment/adminhtml_system_config_source_environment</source_model>
                                        <sort_order>40</sort_order>
                                        <show_in_default>1</show_in_default>
                                        <show_in_website>1</show_in_website>
                                        <show_in_store>0</show_in_store>
                                    </environment>
                                    <credential_button translate="button_label">
                                        <lable></lable>
                                        <production_text>Find your Live keys</production_text>
                                        <production_url><![CDATA[https://merchant.zipmoney.com.au/]]></production_url>
                                        <sandbox_text>Find your Sandbox keys</sandbox_text>
                                        <sandbox_url><![CDATA[https://merchant.sandbox.zipmoney.com.au/]]></sandbox_url>
                                        <frontend_model>zip_payment/adminhtml_system_config_field_credentialButton</frontend_model>
                                        <comment><![CDATA[Switch keys by changing the above <strong>Environment</strong> field]]></comment>
                                        <sort_order>45</sort_order>
                                        <show_in_default>1</show_in_default>
                                        <show_in_website>1</show_in_website>
                                    </credential_button>
                                    <private_key translate="label">
                                        <label>Private Key</label>
                                        <tooltip>Enter the Zip Merchant Private key which is provided to you on setup of your Merchant Account. Note: may be different for 'Sandbox' or 'Live' environment</tooltip>
                                        <config_path>payment/zip_payment/private_key</config_path>
                                        <frontend_type>text</frontend_type>
                                        <sort_order>50</sort_order>
                                        <show_in_default>1</show_in_default>
                                        <show_in_website>1</show_in_website>
                                        <show_in_store>0</show_in_store>
                                    </private_key>
                                    <public_key>
                                        <label>Public Key</label>
                                        <tooltip>Enter the Zip Merchant Public Key provided to you on setup of your Merchant Account. Note: may be different for 'Sandbox' or 'Live' environment</tooltip>
                                        <config_path>payment/zip_payment/public_key</config_path>
                                        <frontend_type>text</frontend_type>
                                        <sort_order>60</sort_order>
                                        <show_in_default>1</show_in_default>
                                        <show_in_website>1</show_in_website>
                                        <show_in_store>0</show_in_store>
                                    </public_key>
                                    <advanced type="group" translate="label">
                                        <label>Advanced Settings</label>
                                        <frontend_class>config-advanced</frontend_class>
                                        <frontend_type>text</frontend_type>
                                        <show_in_default>1</show_in_default>
                                        <show_in_website>1</show_in_website>
                                        <show_in_store>1</show_in_store>
                                        <sort_order>110</sort_order>
                                        <fields>
                                            <payment_mode translate="label">
                                                <label>Capture Mode</label>
                                                <tooltip>Capture Mode to handle zip payment</tooltip>
                                                <config_path>payment/zip_payment/payment_mode</config_path>
                                                <frontend_type>select</frontend_type>
                                                <source_model>zip_payment/adminhtml_system_config_source_mode</source_model>
                                                <sort_order>10</sort_order>
                                                <show_in_default>1</show_in_default>
                                                <show_in_website>1</show_in_website>
                                                <show_in_store>0</show_in_store>
                                            </payment_mode>
                                            <minimum_total translate="label">
                                                <label>Minimum Order Value</label>
                                                <tooltip>The minimum order value amount required to checkout</tooltip>
                                                <config_path>payment/zip_payment/minimum_total</config_path>
                                                <frontend_type>text</frontend_type>
                                                <sort_order>20</sort_order>
                                                <show_in_default>1</show_in_default>
                                                <show_in_website>1</show_in_website>
                                                <show_in_store>0</show_in_store>
                                                <frontend_class>validate-number</frontend_class>
                                            </minimum_total>
                                            <log_setting translate="label">
                                                <label>Log Setting</label>
                                                <tooltip>Select 'All' to log everything, 'Default' to log info and 'None' to disabled loggin</tooltip>
                                                <config_path>payment/zip_payment/log_setting</config_path>
                                                <source_model>zip_payment/adminhtml_system_config_source_log</source_model>
                                                <frontend_type>select</frontend_type>
                                                <sort_order>30</sort_order>
                                                <show_in_default>1</show_in_default>
                                                <show_in_website>1</show_in_website>
                                                <show_in_store>0</show_in_store>
                                            </log_setting>

                                            <admin_notification type="group" translate="label">
                                                <label>Admin Notification</label>
                                                <frontend_type>text</frontend_type>
                                                <show_in_default>1</show_in_default>
                                                <show_in_website>1</show_in_website>
                                                <show_in_store>1</show_in_store>
                                                <sort_order>40</sort_order>
                                                <fields>
                                                     <enabled translate="label">
                                                        <label>Enabled</label>
                                                        <tooltip>Set to 'Yes' to show Zip notifications on the Admin and Configuration page</tooltip>
                                                        <config_path>payment/zip_payment/admin_notification/enabled</config_path>
                                                        <frontend_type>select</frontend_type>
                                                        <source_model>adminhtml/system_config_source_yesno</source_model>
                                                        <sort_order>10</sort_order>
                                                        <show_in_default>1</show_in_default>
                                                        <show_in_website>1</show_in_website>
                                                        <show_in_store>1</show_in_store>
                                                    </enabled>
                                                </fields>
                                            </admin_notification>
                                        </fields>
                                    </advanced>
                                </fields>
                            </settings>

                            <widgets type="group" translate="label">
                                <label>Widgets and Banners</label>
                                <frontend_type>text</frontend_type>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                                <sort_order>30</sort_order>
                                <frontend_model>zip_payment/adminhtml_system_config_fieldset_expanded</frontend_model>
                                <fields>
                                    <home_page type="group" translate="label">
                                        <label>Home Page</label>
                                        <frontend_type>text</frontend_type>
                                        <show_in_default>1</show_in_default>
                                        <show_in_website>1</show_in_website>
                                        <show_in_store>1</show_in_store>
                                        <sort_order>10</sort_order>
                                        <fields>
                                            <banner translate="label comment">
                                                <label>Display Strip Banner</label>
                                                <tooltip>Display zipMoney marketing banner and popup on home page to give customers more information and increase conversions</tooltip>
                                                <config_path>payment/zip_payment/widgets/home_page/banner</config_path>
                                                <sort_order>11</sort_order>
                                                <frontend_type>select</frontend_type>
                                                <source_model>adminhtml/system_config_source_yesno</source_model>
                                                <show_in_default>1</show_in_default>
                                                <show_in_website>1</show_in_website>
                                                <show_in_store>1</show_in_store>
                                            </banner>
                                        </fields>
                                    </home_page>

                                    <product_page type="group" translate="label">
                                        <label>Product Page</label>
                                        <frontend_type>text</frontend_type>
                                        <show_in_default>1</show_in_default>
                                        <show_in_website>1</show_in_website>
                                        <show_in_store>1</show_in_store>
                                        <sort_order>20</sort_order>
                                        <fields>
                                            <widget translate="label comment">
                                                <label>Display Widget</label>
                                                <tooltip>Display zipMoney marketing widget and popup on product pages to give customers more information and increase conversions</tooltip>
                                                <config_path>payment/zip_payment/widgets/product_page/widget</config_path>
                                                <sort_order>12</sort_order>
                                                <frontend_type>select</frontend_type>
                                                <source_model>adminhtml/system_config_source_yesno</source_model>
                                                <show_in_default>1</show_in_default>
                                                <show_in_website>1</show_in_website>
                                                <show_in_store>1</show_in_store>
                                            </widget>
                                            <banner translate="label comment">
                                                <label>Display Strip Banner</label>
                                                <tooltip>Display zipMoney marketing banner and popup on product pages to give customers more information and increase conversions</tooltip>
                                                <config_path>payment/zip_payment/widgets/product_page/banner</config_path>
                                                <sort_order>10</sort_order>
                                                <frontend_type>select</frontend_type>
                                                <source_model>adminhtml/system_config_source_yesno</source_model>
                                                <show_in_default>1</show_in_default>
                                                <show_in_website>1</show_in_website>
                                                <show_in_store>1</show_in_store>
                                            </banner>
                                            <tagline translate="label">
                                                <label>Display Tagline</label>
                                                <tooltip>Display the Tagline</tooltip>
                                                <config_path>payment/zip_payment/widgets/product_page/tagline</config_path>
                                                <frontend_type>select</frontend_type>
                                                <source_model>adminhtml/system_config_source_yesno</source_model>
                                                <sort_order>21</sort_order>
                                                <show_in_default>1</show_in_default>
                                                <show_in_website>1</show_in_website>
                                                <show_in_store>1</show_in_store>
                                            </tagline>
                                        </fields>
                                    </product_page>

                                    <category_page type="group" translate="label">
                                        <label>Category Page</label>
                                        <frontend_type>text</frontend_type>
                                        <show_in_default>1</show_in_default>
                                        <show_in_website>1</show_in_website>
                                        <show_in_store>1</show_in_store>
                                        <sort_order>30</sort_order>
                                        <fields>
                                            <banner translate="label comment">
                                                <label>Display Strip Banner</label>
                                                <tooltip>Display zipMoney marketing banner and popup on category pages to give customers more information and increase conversions</tooltip>
                                                <config_path>payment/zip_payment/widgets/category_page/banner</config_path>
                                                <sort_order>10</sort_order>
                                                <frontend_type>select</frontend_type>
                                                <source_model>adminhtml/system_config_source_yesno</source_model>
                                                <show_in_default>1</show_in_default>
                                                <show_in_website>1</show_in_website>
                                                <show_in_store>1</show_in_store>
                                            </banner>
                                        </fields>
                                    </category_page>

                                    <cart_page type="group" translate="label">
                                        <label>Cart Page</label>
                                        <frontend_type>text</frontend_type>
                                        <show_in_default>1</show_in_default>
                                        <show_in_website>1</show_in_website>
                                        <show_in_store>1</show_in_store>
                                        <sort_order>40</sort_order>
                                        <fields>
                                            <widget translate="label comment">
                                                <label>Display Widget</label>
                                                <tooltip>Display zipMoney marketing widget and popup on the cart page to give customers more information and increase conversions</tooltip>
                                                <config_path>payment/zip_payment/widgets/cart_page/widget</config_path>
                                                <sort_order>11</sort_order>
                                                <frontend_type>select</frontend_type>
                                                <source_model>adminhtml/system_config_source_yesno</source_model>
                                                <show_in_default>1</show_in_default>
                                                <show_in_website>1</show_in_website>
                                                <show_in_store>1</show_in_store>
                                            </widget>
                                            <banner translate="label comment">
                                                <label>Display Strip Banner</label>
                                                <tooltip>Display zipMoney marketing banner and popup on cart pages to give customers more information and increase conversions</tooltip>
                                                <config_path>payment/zip_payment/widgets/cart_page/banner</config_path>
                                                <sort_order>10</sort_order>
                                                <frontend_type>select</frontend_type>
                                                <source_model>adminhtml/system_config_source_yesno</source_model>
                                                <show_in_default>1</show_in_default>
                                                <show_in_website>1</show_in_website>
                                                <show_in_store>1</show_in_store>
                                            </banner>
                                            <tagline translate="label">
                                                <label>Display Tagline</label>
                                                <tooltip>Display the Tagline</tooltip>
                                                <config_path>payment/zip_payment/widgets/cart_page/tagline</config_path>
                                                <frontend_type>select</frontend_type>
                                                <source_model>adminhtml/system_config_source_yesno</source_model>
                                                <sort_order>22</sort_order>
                                                <show_in_default>1</show_in_default>
                                                <show_in_website>1</show_in_website>
                                                <show_in_store>1</show_in_store>
                                            </tagline>
                                        </fields>
                                    </cart_page>
                                </fields>
                            </widgets>
                        </fields>
                    </standard>
                </zip_payment>
            </groups>
        </payment>
    </sections>
</config>