<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <payment>
            <groups>
                <zip_payment_group translate="label comment" module="zip_payment">
                    <label><![CDATA[Zip Payment - <i>Own it now, pay later</i>]]></label>
                    <sort_order>600</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <frontend_class>complex</frontend_class>
                    <frontend_model>zip_payment/adminhtml_system_config_fieldset_group</frontend_model>
                    <fields/>
                </zip_payment_group>

                <zip_payment>
                    <method type="group" translate="label comment">
                        <label><![CDATA[Zip Payment Solution]]></label>
                        <frontend_type>text</frontend_type>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                        <sort_order>50</sort_order>
                        <group>zip_payment_group</group>
                        <include>1</include>
                        <frontend_class>zip-payment</frontend_class>
                        <frontend_model>zip_payment/adminhtml_system_config_fieldset_wizard</frontend_model>
                        <active_path>payment/zip_payment/active</active_path>
                        <comment><![CDATA[Zip Payment gives your customers the power to pay later, interest free &nbsp;&nbsp;<a href="https://zip.co/im-a-business" target="_blank">learn more</a><br/>Don't have an account? Click <a href="https://zippay.com.au/partner-sign-up/" target="_blank">here</a> to apply for a <strong>Zip Business Account</strong>]]></comment>
                        <fields>
                            <status type="group" translate="label">
                                <label>Status</label>
                                <frontend_type>text</frontend_type>
                                <expanded>1</expanded>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                                <sort_order>10</sort_order>
                                <frontend_model>zip_payment/adminhtml_system_config_fieldset_expanded</frontend_model>
                                <fields>
                                    <version translate="label">
                                        <label>Version</label>
                                        <frontend_type>label</frontend_type>
                                        <frontend_model>zip_payment/adminhtml_system_config_field_version</frontend_model>
                                        <sort_order>10</sort_order>
                                        <show_in_default>1</show_in_default>
                                        <show_in_website>1</show_in_website>
                                        <show_in_store>1</show_in_store>
                                    </version>
                                    <health_check translate="label">
                                        <label>Health Check</label>
                                        <frontend_type>label</frontend_type>
                                        <frontend_model>zip_payment/adminhtml_system_config_field_healthCheck</frontend_model>
                                        <sort_order>15</sort_order>
                                        <show_in_default>1</show_in_default>
                                        <show_in_website>1</show_in_website>
                                        <show_in_store>1</show_in_store>
                                    </health_check>
                                </fields>
                            </status>
                            <settings type="group" translate="label">
                                <label>Settings</label>
                                <frontend_type>text</frontend_type>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                                <sort_order>20</sort_order>
                                <frontend_model>zip_payment/adminhtml_system_config_fieldset_expanded</frontend_model>
                                <fields>
                                    <active translate="label">
                                        <label>Enable this Solution</label>
                                        <tooltip>Set to 'Yes' to enable Zip Payment as a secure payment method on your website</tooltip>
                                        <config_path>payment/zip_payment/active</config_path>
                                        <frontend_type>select</frontend_type>
                                        <frontend_model>zip_payment/adminhtml_system_config_field_active</frontend_model>
                                        <source_model>adminhtml/system_config_source_yesno</source_model>
                                        <sort_order>20</sort_order>
                                        <show_in_default>1</show_in_default>
                                        <show_in_website>1</show_in_website>
                                        <show_in_store>1</show_in_store>
                                    </active>
                                    <environment translate="label">
                                        <label>Environment</label>
                                        <tooltip>Set to 'Live' to start accepting zipMoney payments on your website. Ensure your zipMoney ID and zipMoney Key are your 'Live' credentials if not in 'Test' mode</tooltip>
                                        <config_path>payment/zip_payment/environment</config_path>
                                        <frontend_type>select</frontend_type>
                                        <source_model>zip_payment/adminhtml_system_config_source_environment</source_model>
                                        <sort_order>40</sort_order>
                                        <show_in_default>1</show_in_default>
                                        <show_in_website>1</show_in_website>
                                        <show_in_store>0</show_in_store>
                                    </environment>
                                    <credential_button translate="button_label">
                                        <lable></lable>
                                        <production_text>Find your Live keys</production_text>
                                        <production_url><![CDATA[https://merchant.zipmoney.com.au/]]></production_url>
                                        <sandbox_text>Find your Sandbox keys</sandbox_text>
                                        <sandbox_url><![CDATA[https://merchant.sandbox.zipmoney.com.au/]]></sandbox_url>
                                        <frontend_model>zip_payment/adminhtml_system_config_field_credentialButton</frontend_model>
                                        <comment><![CDATA[Switch keys by changing the above <strong>Environment</strong> field]]></comment>
                                        <sort_order>45</sort_order>
                                        <show_in_default>1</show_in_default>
                                        <show_in_website>1</show_in_website>
                                    </credential_button>
                                    <private_key translate="label">
                                        <label>Private Key</label>
                                        <tooltip>Enter the Zip Merchant Private key which is provided to you on setup of your Merchant Account. Note: may be different for 'Sandbox' or 'Live' environment</tooltip>
                                        <config_path>payment/zip_payment/private_key</config_path>
                                        <frontend_type>obscure</frontend_type>
                                        <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                                        <sort_order>50</sort_order>
                                        <show_in_default>1</show_in_default>
                                        <show_in_website>1</show_in_website>
                                        <show_in_store>0</show_in_store>
                                    </private_key>
                                    <public_key>
                                        <label>Public Key</label>
                                        <tooltip>Enter the Zip Merchant Public Key provided to you on setup of your Merchant Account. Note: may be different for 'Sandbox' or 'Live' environment</tooltip>
                                        <config_path>payment/zip_payment/public_key</config_path>
                                        <frontend_type>text</frontend_type>
                                        <sort_order>60</sort_order>
                                        <show_in_default>1</show_in_default>
                                        <show_in_website>1</show_in_website>
                                        <show_in_store>0</show_in_store>
                                    </public_key>
                                    <advanced type="group" translate="label">
                                        <label>Advanced Settings</label>
                                        <frontend_class>config-advanced</frontend_class>
                                        <frontend_type>text</frontend_type>
                                        <show_in_default>1</show_in_default>
                                        <show_in_website>1</show_in_website>
                                        <show_in_store>1</show_in_store>
                                        <sort_order>100</sort_order>
                                        <fields>
                                            <checkout type="group" translate="label">
                                                <label>Checkout</label>
                                                <frontend_type>text</frontend_type>
                                                <show_in_default>1</show_in_default>
                                                <show_in_website>1</show_in_website>
                                                <show_in_store>1</show_in_store>
                                                <sort_order>10</sort_order>
                                                <fields>
                                                    <title translate="label">
                                                        <label>Title</label>
                                                        <tooltip>The title as Payment Method Title which is used to display as payment method option</tooltip>
                                                        <comment>It is recommended to set this value to "Zip - Own it now, pay later"</comment>
                                                        <config_path>payment/zip_payment/title</config_path>
                                                        <frontend_type>text</frontend_type>
                                                        <sort_order>10</sort_order>
                                                        <show_in_default>1</show_in_default>
                                                        <show_in_website>1</show_in_website>
                                                        <show_in_store>0</show_in_store>
                                                    </title>
                                                    <payment_action translate="label">
                                                        <label>Payment Action</label>
                                                        <tooltip>Capture Mode to handle zip payment</tooltip>
                                                        <config_path>payment/zip_payment/payment_action</config_path>
                                                        <frontend_type>select</frontend_type>
                                                        <source_model>zip_payment/adminhtml_system_config_source_paymentAction</source_model>
                                                        <sort_order>20</sort_order>
                                                        <show_in_default>1</show_in_default>
                                                        <show_in_website>1</show_in_website>
                                                        <show_in_store>0</show_in_store>
                                                    </payment_action>
                                                    <order_status translate="label">
                                                        <label>New Order Status</label>
                                                        <frontend_type>select</frontend_type>
                                                        <config_path>payment/zip_payment/order_status</config_path>
                                                        <source_model>adminhtml/system_config_source_order_status_processing</source_model>
                                                        <sort_order>30</sort_order>
                                                        <show_in_default>1</show_in_default>
                                                        <show_in_website>1</show_in_website>
                                                        <show_in_store>0</show_in_store>
                                                    </order_status>
                                                    <min_order_total translate="label">
                                                        <label>Minimum Order Total</label>
                                                        <tooltip>The minimum order value amount required to checkout</tooltip>
                                                        <config_path>payment/zip_payment/min_order_total</config_path>
                                                        <frontend_type>text</frontend_type>
                                                        <sort_order>40</sort_order>
                                                        <show_in_default>1</show_in_default>
                                                        <show_in_website>1</show_in_website>
                                                        <show_in_store>0</show_in_store>
                                                    </min_order_total>
                                                    <sort_order translate="label">
                                                        <label>Sort Order</label>
                                                        <config_path>payment/zip_payment/sort_order</config_path>
                                                        <frontend_type>text</frontend_type>
                                                        <sort_order>50</sort_order>
                                                        <show_in_default>1</show_in_default>
                                                        <show_in_website>1</show_in_website>
                                                        <show_in_store>1</show_in_store>
                                                        <frontend_class>validate-number</frontend_class>
                                                    </sort_order>
                                                </fields>
                                            </checkout>

                                            <country_currency type="group" translate="label">
                                                <label>Country and Currency</label>
                                                <frontend_type>text</frontend_type>
                                                <show_in_default>1</show_in_default>
                                                <show_in_website>1</show_in_website>
                                                <show_in_store>1</show_in_store>
                                                <sort_order>20</sort_order>
                                                <fields>
                                                    <allowspecific translate="label">
                                                        <label>Payment from applicable countries</label>
                                                        <frontend_type>allowspecific</frontend_type>
                                                        <source_model>zip_payment/adminhtml_system_config_source_payment_allspecificcountries</source_model>
                                                        <config_path>payment/zip_payment/allow_specific_countries</config_path>
                                                        <show_in_default>1</show_in_default>
                                                        <show_in_website>1</show_in_website>
                                                        <show_in_store>1</show_in_store>
                                                        <sort_order>10</sort_order>
                                                    </allowspecific>
                                                    <specificcountry translate="label">
                                                        <label>Payment from Specific countries</label>
                                                        <frontend_type>multiselect</frontend_type>
                                                        <source_model>zip_payment/adminhtml_system_config_source_country</source_model>
                                                        <config_path>payment/zip_payment/specific_countries</config_path>
                                                        <show_in_default>1</show_in_default>
                                                        <show_in_website>1</show_in_website>
                                                        <show_in_store>1</show_in_store>
                                                        <sort_order>20</sort_order>
                                                        <depends>
                                                            <allowspecific>1</allowspecific>
                                                        </depends>
                                                    </specificcountry>
                                                    <allowed_currencies translate="label">
                                                        <label>Allowed Currencies</label>
                                                        <frontend_type>multiselect</frontend_type>
                                                        <source_model>zip_payment/adminhtml_system_config_source_currency</source_model>
                                                        <config_path>payment/zip_payment/allowed_currencies</config_path>
                                                        <show_in_default>1</show_in_default>
                                                        <show_in_website>1</show_in_website>
                                                        <show_in_store>1</show_in_store>
                                                        <sort_order>30</sort_order>
                                                    </allowed_currencies>
                                                </fields>
                                            </country_currency>

                                            <debug type="group" translate="label">
                                                <label>Debug Mode</label>
                                                <frontend_type>text</frontend_type>
                                                <show_in_default>1</show_in_default>
                                                <show_in_website>1</show_in_website>
                                                <show_in_store>1</show_in_store>
                                                <sort_order>30</sort_order>
                                                <fields>
                                                    <enabled translate="label">
                                                        <label>Enabled</label>
                                                        <tooltip>Select 'Yes' to enable debug mode</tooltip>
                                                        <config_path>payment/zip_payment/debug/enabled</config_path>
                                                        <frontend_type>select</frontend_type>
                                                        <source_model>adminhtml/system_config_source_yesno</source_model>
                                                        <sort_order>30</sort_order>
                                                        <show_in_default>1</show_in_default>
                                                        <show_in_website>1</show_in_website>
                                                        <show_in_store>1</show_in_store>
                                                        <sort_order>10</sort_order>
                                                    </enabled>

                                                    <log_level translate="label">
                                                        <label>Log Level</label>
                                                        <tooltip>Select 'All' to log everything, 'Default' to log payment information and 'None' to disabled logging</tooltip>
                                                        <config_path>payment/zip_payment/debug/log_level</config_path>
                                                        <source_model>zip_payment/adminhtml_system_config_source_logLevel</source_model>
                                                        <frontend_type>select</frontend_type>
                                                        <sort_order>20</sort_order>
                                                        <show_in_default>1</show_in_default>
                                                        <show_in_website>1</show_in_website>
                                                        <show_in_store>1</show_in_store>
                                                        <depends>
                                                            <enabled>1</enabled>
                                                        </depends>
                                                    </log_level>

                                                    <log_file translate="label">
                                                        <label>Log File Name</label>
                                                        <tooltip>Identify file name for Zip Debug Logs in system log folder</tooltip>
                                                        <config_path>payment/zip_payment/debug/log_file</config_path>
                                                        <frontend_type>text</frontend_type>
                                                        <sort_order>30</sort_order>
                                                        <show_in_default>1</show_in_default>
                                                        <show_in_website>1</show_in_website>
                                                        <show_in_store>1</show_in_store>
                                                        <depends>
                                                            <enabled>1</enabled>
                                                        </depends>
                                                    </log_file>
                                                </fields>
                                            </debug>

                                            <admin_notification type="group" translate="label">
                                                <label>Admin Notification</label>
                                                <frontend_type>text</frontend_type>
                                                <show_in_default>1</show_in_default>
                                                <show_in_website>1</show_in_website>
                                                <show_in_store>1</show_in_store>
                                                <sort_order>70</sort_order>
                                                <fields>
                                                     <enabled translate="label">
                                                        <label>Enabled</label>
                                                        <tooltip>Set to 'Yes' to fetch Zip notifications</tooltip>
                                                        <config_path>payment/zip_payment/admin_notification/enabled</config_path>
                                                        <frontend_type>select</frontend_type>
                                                        <source_model>adminhtml/system_config_source_yesno</source_model>
                                                        <sort_order>10</sort_order>
                                                        <show_in_default>1</show_in_default>
                                                        <show_in_website>1</show_in_website>
                                                        <show_in_store>1</show_in_store>
                                                    </enabled>
                                                </fields>
                                            </admin_notification>
                                        </fields>
                                    </advanced>
                                </fields>
                            </settings>

                            <widgets type="group" translate="label">
                                <label>Widgets and Banners</label>
                                <frontend_type>text</frontend_type>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                                <sort_order>30</sort_order>
                                <frontend_model>zip_payment/adminhtml_system_config_fieldset_expanded</frontend_model>
                                <expanded>0</expanded>
                                <fields>
                                    <enabled translate="label">
                                        <label>Enabled</label>
                                        <tooltip>Set to 'Yes' to enable widget and banners</tooltip>
                                        <config_path>payment/zip_payment/widgets/enabled</config_path>
                                        <frontend_type>select</frontend_type>
                                        <source_model>adminhtml/system_config_source_yesno</source_model>
                                        <sort_order>1</sort_order>
                                        <show_in_default>1</show_in_default>
                                        <show_in_website>1</show_in_website>
                                        <show_in_store>1</show_in_store>
                                    </enabled>
                                    <home_page type="group" translate="label">
                                        <label>Home Page</label>
                                        <frontend_type>text</frontend_type>
                                        <show_in_default>1</show_in_default>
                                        <show_in_website>1</show_in_website>
                                        <show_in_store>1</show_in_store>
                                        <sort_order>10</sort_order>
                                        <fields>
                                            <banner translate="label comment">
                                                <label>Display Strip Banner</label>
                                                <tooltip>Display zipMoney marketing banner and popup on home page to give customers more information and increase conversions</tooltip>
                                                <config_path>payment/zip_payment/widgets/home_page/banner</config_path>
                                                <sort_order>11</sort_order>
                                                <frontend_type>select</frontend_type>
                                                <source_model>adminhtml/system_config_source_yesno</source_model>
                                                <show_in_default>1</show_in_default>
                                                <show_in_website>1</show_in_website>
                                                <show_in_store>1</show_in_store>
                                            </banner>
                                        </fields>
                                    </home_page>

                                    <product_page type="group" translate="label">
                                        <label>Product Page</label>
                                        <frontend_type>text</frontend_type>
                                        <show_in_default>1</show_in_default>
                                        <show_in_website>1</show_in_website>
                                        <show_in_store>1</show_in_store>
                                        <sort_order>20</sort_order>
                                        <fields>
                                            <widget translate="label comment">
                                                <label>Display Widget</label>
                                                <tooltip>Display zipMoney marketing widget and popup on product pages to give customers more information and increase conversions</tooltip>
                                                <config_path>payment/zip_payment/widgets/product_page/widget</config_path>
                                                <sort_order>12</sort_order>
                                                <frontend_type>select</frontend_type>
                                                <source_model>adminhtml/system_config_source_yesno</source_model>
                                                <show_in_default>1</show_in_default>
                                                <show_in_website>1</show_in_website>
                                                <show_in_store>1</show_in_store>
                                            </widget>
                                            <banner translate="label comment">
                                                <label>Display Strip Banner</label>
                                                <tooltip>Display zipMoney marketing banner and popup on product pages to give customers more information and increase conversions</tooltip>
                                                <config_path>payment/zip_payment/widgets/product_page/banner</config_path>
                                                <sort_order>10</sort_order>
                                                <frontend_type>select</frontend_type>
                                                <source_model>adminhtml/system_config_source_yesno</source_model>
                                                <show_in_default>1</show_in_default>
                                                <show_in_website>1</show_in_website>
                                                <show_in_store>1</show_in_store>
                                            </banner>
                                            <tagline translate="label">
                                                <label>Display Tagline</label>
                                                <tooltip>Display the Tagline</tooltip>
                                                <config_path>payment/zip_payment/widgets/product_page/tagline</config_path>
                                                <frontend_type>select</frontend_type>
                                                <source_model>adminhtml/system_config_source_yesno</source_model>
                                                <sort_order>21</sort_order>
                                                <show_in_default>1</show_in_default>
                                                <show_in_website>1</show_in_website>
                                                <show_in_store>1</show_in_store>
                                            </tagline>
                                        </fields>
                                    </product_page>

                                    <category_page type="group" translate="label">
                                        <label>Category Page</label>
                                        <frontend_type>text</frontend_type>
                                        <show_in_default>1</show_in_default>
                                        <show_in_website>1</show_in_website>
                                        <show_in_store>1</show_in_store>
                                        <sort_order>30</sort_order>
                                        <fields>
                                            <banner translate="label comment">
                                                <label>Display Strip Banner</label>
                                                <tooltip>Display zipMoney marketing banner and popup on category pages to give customers more information and increase conversions</tooltip>
                                                <config_path>payment/zip_payment/widgets/category_page/banner</config_path>
                                                <sort_order>10</sort_order>
                                                <frontend_type>select</frontend_type>
                                                <source_model>adminhtml/system_config_source_yesno</source_model>
                                                <show_in_default>1</show_in_default>
                                                <show_in_website>1</show_in_website>
                                                <show_in_store>1</show_in_store>
                                            </banner>
                                        </fields>
                                    </category_page>

                                    <cart_page type="group" translate="label">
                                        <label>Cart Page</label>
                                        <frontend_type>text</frontend_type>
                                        <show_in_default>1</show_in_default>
                                        <show_in_website>1</show_in_website>
                                        <show_in_store>1</show_in_store>
                                        <sort_order>40</sort_order>
                                        <fields>
                                            <widget translate="label comment">
                                                <label>Display Widget</label>
                                                <tooltip>Display zipMoney marketing widget and popup on the cart page to give customers more information and increase conversions</tooltip>
                                                <config_path>payment/zip_payment/widgets/cart_page/widget</config_path>
                                                <sort_order>11</sort_order>
                                                <frontend_type>select</frontend_type>
                                                <source_model>adminhtml/system_config_source_yesno</source_model>
                                                <show_in_default>1</show_in_default>
                                                <show_in_website>1</show_in_website>
                                                <show_in_store>1</show_in_store>
                                            </widget>
                                            <banner translate="label comment">
                                                <label>Display Strip Banner</label>
                                                <tooltip>Display zipMoney marketing banner and popup on cart pages to give customers more information and increase conversions</tooltip>
                                                <config_path>payment/zip_payment/widgets/cart_page/banner</config_path>
                                                <sort_order>10</sort_order>
                                                <frontend_type>select</frontend_type>
                                                <source_model>adminhtml/system_config_source_yesno</source_model>
                                                <show_in_default>1</show_in_default>
                                                <show_in_website>1</show_in_website>
                                                <show_in_store>1</show_in_store>
                                            </banner>
                                            <tagline translate="label">
                                                <label>Display Tagline</label>
                                                <tooltip>Display the Tagline</tooltip>
                                                <config_path>payment/zip_payment/widgets/cart_page/tagline</config_path>
                                                <frontend_type>select</frontend_type>
                                                <source_model>adminhtml/system_config_source_yesno</source_model>
                                                <sort_order>22</sort_order>
                                                <show_in_default>1</show_in_default>
                                                <show_in_website>1</show_in_website>
                                                <show_in_store>1</show_in_store>
                                            </tagline>
                                        </fields>
                                    </cart_page>
                                </fields>
                            </widgets>
                        </fields>
                    </method>
                </zip_payment>
            </groups>
        </payment>
    </sections>
</config>